[
	{
		"nome": "Administrador",
		"login": "admin",
		"senha": "123456"
	},
	{
		"nome": "felipe",
		"login": "felipe",
		"senha": "felipe"
	},
	{
		"nome": "marcos",
		"login": "marcos",
		"senha": "marcos"
	},
	{
		"nome": "gabriel",
		"login": "gabriel",
		"senha": "gabriel"
	}
]